<!-- Footer -->
<div class="d-flex align-content-end flex-wrap">
  <!-- Copyright -->
  <div class="container">© 2022 Copyright:
    <a href="/" class="text-info decoration-none"> GemStoneStore.com</a>
    <div class="row">
      <p class="col-3" >Created by Phan Hoang Bao Khang</p>
      <i class="bi bi-headset col-2">0765714981</i>
    </div>
  </div>
  <!-- Copyright -->
</div>
<!-- Footer -->