.card:hover {
  transform: scale(1.1); }

.card {
  transition: transform 0.2s ease; }

.card-margin {
  margin-left: 4px;
  margin-right: 4px; }

.decoration-none {
  text-decoration: none; }

.bg-image {
  background-image: url("https://previews.123rf.com/images/serezniy/serezniy1811/serezniy181150876/113900656-colorful-precious-stones-for-jewellery-on-white-background.jpg");
  height: 100vh; }

.animation_hover:hover {
  transform: scale(1.1); }

.animation_hover {
  transition: transform 0.2s ease;
  margin-left: 4px;
  margin-right: 4px; }
.btn-primary
{
  color:red;
}
.form-label{
  font-weight: bold;
  font-size: large;
}
.form-control-for-textbox{
  width: 1400px ;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-label-for-addPage{
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: large;
  display:block;
}
.div{
  margin-bottom: 10px;
}
.sup-red{
  color: red;
}