
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>

                <div class="form-outline mb-4">
                <input type="name" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter your username" />
            </div>

            <div class="form-outline mb-3">
                <input type="email" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter your email" />
            </div>
             <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter your password" />
            </div>

            <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Repeat your password" />
            </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

            </div>

              <div>
                <p class="mb-0">Have already an account? <a href="../login" class="fw-bold text-body">Login here</a>
                </p>
              </div>  
             
            
          </div>
        </div>
      </div>
    </div>
  </div>
