<div>
    <br>
    <h1 class="text-success d-flex justify-content-center">Tạo tài khoản mới</h1>
    <br>
    <form method="post" action="/login/new/create" class="d-flex justify-content-center">
        <fieldset>
            <div class="form-group text-center">
                <label class="form-label">Tên người dùng</label>
                <input type="text" name="username" id="" class="form-control" placeholder="Enter your username">
                <br>
                <label class="form-label">Mật khẩu</label>
                <input type="password" name="password" id="" class="form-control" placeholder="Enter your password">
            </div>
            <br>
            {{#checkUser account/role}}
            <div class="text-center">
                <label class="form-label" >Vai trò</label>
                <select class="form-select" name="role">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>
            <br>
            {{/checkUser}}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-info btn-lg">Tạo tài khoản</button>
            </div>
            <br>
            <a href="/login" class="text-success decoration-none">Bạn đã có tài khoản? Đăng nhập</a>
        </fieldset>
    </form>
</div>
