<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-dark" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-4 text-uppercase">ĐĂNG KÝ</h2>
            <div class="form-outline mb-4">
              <input type="name" name="username" class="form-control form-control-lg" id="user"
              placeholder="Tài khoản" />
            </div>
            <div class="text-center">
              <label class="form-label text-danger text_user d-none">Tên tài khoản không được để trống</label>
            </div>
            <div class="form-outline mb-4">
              <input type="email" class="form-control form-control-lg"
              placeholder="Email" id="userEmail"/>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="passwrd" class="form-control form-control-lg"
              placeholder="Mật khẩu" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" class="form-control form-control-lg" id="passwrd_retype"
              placeholder="Nhập lại mật khẩu" />
            </div>
            <div class="text-center">
              <label class="form-label text-danger d-none text_info d-none">Mật khẩu không trùng khớp</label>
            </div>
            {{#checkUser account/role}}
            <div class="text-center">
                <label class="form-label display-6" >Vai trò</label>
                <select class="form-select" name="role" id="roleSelect">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>
            <br>
            {{else}}
            <div class="text-center">
                <label class="form-label">Liên hệ admin để được cấp quyền admin cho tài khoản</label>
            </div>
            {{/checkUser}}
            <button class="btn btn-primary btn-lg px-5 btn_registry" disabled type="submit" onclick="newAccount_request()">Đăng ký</button>
            </div>
            <div>
              <p class="mb-0">Bạn đã có tài khoản? <a href="../login" class="fw-bold text-decoration-none text-primary">Đăng nhập</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    let validUser=false, validPassword=false, validEmail=false;
    function validAccount(){
      if(validUser==true && validPassword==true){
        $(".btn_registry").attr("disabled", false);
      }
      else{
        $('.btn_registry').attr("disabled", true);
      }
    }

    $("#user").on('change',()=>{
      if($('#user').val()==''){
        $('.text_user').removeClass('d-none');
        validUser=false;
        validAccount
      }
      else{
        $('.text_user').addClass('d-none');
        validUser=true;
        validAccount();
      }
    });

    $("#passwrd_retype").on('change',()=>{
      let password=$("#passwrd").val();
      let password_retype=$("#passwrd_retype").val();
    
      if(password!==password_retype){
        $(".text_info").removeClass('d-none');
        validPassword=false;
        validAccount
      }
      else{
        $(".text_info").addClass('d-none');
        validPassword=true;
        validAccount();
      }
    });
    function newAccount_request(){
        $.ajax({
            url: '/login/new/create',
            type: 'POST',
            data: {
                username: $('#user').val(),
                password: $('#passwrd').val(),
                role: $('#roleSelect').find(':selected').val() || "USER",
                email: $('#userEmail').val(),
            }
        }).then(data=>{
            window.location.href='../home';
        }).catch(err=>{
            check.classList.remove('d-none');
        })
    }
</script>
