<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-dark" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-4 text-uppercase">Đăng nhập</h2>
            <label class="form-label d-none" id="checkExist">Đăng nhập không hợp lệ</label>
            <div class="form-outline mb-4">
                <input type="name" id="user" class="form-control form-control-lg"
                placeholder="Tài khoản" />
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="pwd" class="form-control form-control-lg" placeholder="Mật khẩu" />
            </div>
            
              <p class="small mb-4 pb-lg-2"><a class="text-primary text-decoration-none" href="/login/forgot">Quên mật khẩu?</a></p>
              <button class="btn btn-primary btn-lg px-5" type="button" onclick="loginAccount()">Đăng nhập</button>
            </div>
            <div>
              <p class="mb-0">Bạn chưa có tài khoản? <a href="./login/new" class="text-primary text-decoration-none fw-bold">Đăng ký</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let check=document.getElementById('checkExist');
  function loginAccount(){
    $.ajax({
      url: '/login/check',
      type: 'POST',
      data: {
        username: $('#user').val(),
        password: $('#pwd').val(),
      }
    }).then(data=>{
      window.location.href="../home";
    }).catch(err=>{
      check.classList.remove("d-none");
    });
  }
</script>
