<div>
    <br>
    <h1 class="text-success d-flex justify-content-center">Thêm dịch vụ mới <i class="bi bi-gem"></i></h1>
    <br>
    <form method="post" action="/services/new/create" class="d-flex justify-content-center">
        <fieldset>
            <div class="form-group text-center">
                <label class="form-label">Tên dịch vụ</label>
                <input type="text" name="name" id="nameTextbox" class="form-control" placeholder="" >
                <span id="nameResult"></span>
                <br>
                <label class="form-label">Giá (VNĐ)</label>
                <input type="text" name="price" id="priceTextbox" class="form-control" placeholder="">
                <span id="priceSpan"></span>
                <br>
                <label class="form-label">Thời gian hoàn thành</label>
                <input type="text" name="finish_time" class="form-control">
                <br>
                <label class="form-label">Loại sản phẩm</label>
                <select name="product_type" id="">
                    <option value="ring">Nhẫn</option>
                    <option value="bracelet">Vòng tay</option>
                    <option value="watch">Đồng hồ</option>
                    <option value="earing">Bông tai</option>
                    <option value="necklace">Dây chuyền</option>
                </select>
                <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-info btn-lg" id="btnSubmit">Thêm</button>
            </div>
        </fieldset>
    </form>
</div>

